<!DOCTYPE html>
<html>
    <body>       
        <h1>Aplicación de tareas EBC</h1>
        <form action={{ url_for('AddNewTask') }} method="POST"> 
            <div>
                <input type="text" name="task_name" placeholder="nombre de la tarea"/>                        
            </div>
            <button type="submit">Agregar Tarea</button>
        </form>
        <div>
            <h2>Lista de tareas</h2>
            <ul>
                {% for task in todoList %}
                <li>{{task.id}}.- {{ task.name}}</li>
                {% endfor %}
            <!-- 
                <li>Gatos</li>
                <li>Loros</li>
                <li>Iguanas</li> 
            -->
            </ul>
        </div>
    </body>
</html>